* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 400px;
    width: 400px;
    margin: 60px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.box{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.winnerText
{
    justify-content: center;
}